/* ==========================================================================
   Custom skin
   ========================================================================== */

/* syntax highlighting (base16) */

$base00: #fafafa !default;
$base01: #E0E0E0 !default;
$base02: #D0D0D0 !default;
$base03: #B0B0B0 !default;
$base04: #505050 !default;
$base05: #6e7580 !default;
$base06: #202020 !default;
$base07: #151515 !default;
$base08: #AC4142 !default;
$base09: #D28445 !default;
$base0a: #F4BF75 !default;
$base0b: #90A959 !default;
$base0c: #75B5AA !default;
$base0d: #6A9FB5 !default;
$base0e: #AA759F !default;
$base0f: #8F5536 !default;

